################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MassTransit/QuickStarts/InMemory/GettingStarted/bin/Debug/net6.0
/MassTransit/QuickStarts/InMemory/GettingStarted/obj
/MassTransit/QuickStarts/InMemory/GettingStarted/.vs/GettingStarted
/MassTransit/QuickStarts/InMemory/GettingStarted/.vs/ProjectEvaluation
/MassTransit/QuickStarts/RabbitMQ/GettingStarted/obj
/MassTransit/QuickStarts/RabbitMQ/GettingStarted/bin/Debug/net6.0
/MassTransit/QuickStarts/RabbitMQ/GettingStarted/.vs/GettingStarted
/MassTransit/QuickStarts/RabbitMQ/GettingStarted/.vs/ProjectEvaluation
/MassTransit/Examples/SampleTwitch/Sample.Contracts/obj
/MassTransit/Examples/SampleTwitch/Sample.Contracts/bin/Debug/net7.0
/MassTransit/Examples/SampleTwitch/Sample.Components/obj
/MassTransit/Examples/SampleTwitch/Sample.Components/bin/Debug/net7.0
/MassTransit/Examples/SampleTwitch/Sample.Api/obj
/MassTransit/Examples/SampleTwitch/Sample.Api/bin/Debug/net7.0
/MassTransit/Examples/SampleTwitch/.vs/SampleTwitch
/MassTransit/Examples/SampleTwitch/.vs/ProjectEvaluation
/MassTransit/Examples/SampleTwitch/Sample.Service/obj
/MassTransit/Examples/SampleTwitch/Sample.Service/bin/Debug/net7.0
/MassTransit/Examples/DemandMenagement/DemandMenagement.Api/bin/Debug/net7.0
/MassTransit/Examples/DemandMenagement/DemandMenagement.Api/obj
/MassTransit/Examples/DemandMenagement/DemandManagement.Thirdparty.Service/obj
/MassTransit/Examples/DemandMenagement/DemandManagement.Thirdparty.Service/bin/Debug/net7.0
/MassTransit/Examples/DemandMenagement/DemandManagement.Registration/bin/Debug/net7.0
/MassTransit/Examples/DemandMenagement/DemandManagement.Registration/obj
/MassTransit/Examples/DemandMenagement/DemandManagement.Notification/bin/Debug/net7.0
/MassTransit/Examples/DemandMenagement/DemandManagement.Notification/obj
/MassTransit/Examples/DemandMenagement/DemandManagement.MessageContracts/bin/Debug/net7.0
/MassTransit/Examples/DemandMenagement/DemandManagement.MessageContracts/obj
/MassTransit/Examples/DemandMenagement/.vs/DemandMenagement
/MassTransit/Examples/DemandMenagement/.vs/ProjectEvaluation
/MassTransit/Examples/LightMessagingCore/LightMessagingCore.OrderUI/obj
/MassTransit/Examples/LightMessagingCore/LightMessagingCore.OrderUI/bin/Debug/net7.0
/MassTransit/Examples/LightMessagingCore/LightMessagingCore.OrderService/obj
/MassTransit/Examples/LightMessagingCore/LightMessagingCore.OrderService/bin/Debug/net7.0
/MassTransit/Examples/LightMessagingCore/LightMessagingCore.Messaging/obj/Debug/net7.0
/MassTransit/Examples/LightMessagingCore/LightMessagingCore.Messaging/bin/Debug/net7.0
/MassTransit/Examples/LightMessagingCore/LightMessagingCore.Messaging/obj
/MassTransit/Examples/LightMessagingCore/LightMessagingCore.Common/bin/Debug/net7.0
/MassTransit/Examples/LightMessagingCore/LightMessagingCore.Common/obj
/MassTransit/Examples/LightMessagingCore/.vs/LightMessagingCore
/MassTransit/Examples/SampleTwitch/Sample.Components.Tests/bin/Debug/net7.0
/MassTransit/Examples/SampleTwitch/Sample.Components.Tests/obj
/MassTransit/Examples/SampleTwitch/Warehouse.Components/bin/Debug/net7.0
/MassTransit/Examples/SampleTwitch/Warehouse.Components/obj
/MassTransit/Examples/SampleTwitch/Warehouse.Contracts/bin/Debug/net7.0
/MassTransit/Examples/SampleTwitch/Warehouse.Contracts/obj
/MassTransit/Examples/SampleTwitch/Warehouse.Service/bin/Debug/net7.0
/MassTransit/Examples/SampleTwitch/Warehouse.Service/obj
/MassTransit/Examples/SampleTwitch/Sample.Quartz/bin/Debug/net7.0
/MassTransit/Examples/SampleTwitch/Sample.Quartz/obj
